/* ===== THEME VARIABLES ===== */

.profile-section {
   --panel-bg: var(--color-bg-accent-2);
   --name-bg: var(--color-bg-light-accent-1);
   --tab-bg: var(--color-accent-1);
   --tab-text: var(--color-text-gray);
}

/* ===== LIGHT-THEME ===== */
.light-theme .profile-section {
   --panel-bg: var(--color-bg-light-accent-3);
   /* --name-bg: var(--color-bg-light-accent-1); */
   --tab-bg: var(--color-accent-light-4);
   --tab-text: var(--color-bg-light-accent-3);
}

/* ===== LAYOUT ===== */

.profile-section {
   display: grid;
   grid-template-columns: 1fr 1.6fr 1fr;
   grid-template-rows: auto 1fr;
   column-gap: 80px;
   align-content: start;
   height: 100%;
   padding-top: 3em;
   box-sizing: border-box;
}

/* ===== AVATAR ===== */

.profile-avatar {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
   justify-self: right;
   margin-top: 25px;
}

.profile-avatar-frame {
   width: 256px;
   height: 384px;
   display: block;
   position: relative;
   box-shadow:
      -5px 5px 0 0 var(--color-br-light),
      -5px 0 0 0 var(--color-br-light),
      -5px -5px 0 0 var(--color-br-shadow),
      5px -5px 0 0 var(--color-br-shadow),
      5px 0 0 0 var(--color-br-shadow),
      5px 5px 0 0 var(--color-br-light),
      -10px 10px 0 0 var(--color-br-light),
      -10px -5px 0 0 var(--color-br-light),
      -10px -10px 0 0 var(--color-br-shadow),
      10px -10px 0 0 var(--color-br-shadow),
      10px 5px 0 0 var(--color-br-shadow),
      10px 10px 0 0 var(--color-br-light),
      0 0 0 20px var(--color-br-body),
      20px 25px 0 0 var(--color-br-light),
      -25px 25px 0 0 var(--color-br-light),
      -25px -20px 0 0 var(--color-br-light),
      -25px -25px 0 0 var(--color-br-shadow),
      25px -25px 0 0 var(--color-br-shadow),
      25px 20px 0 0 var(--color-br-shadow),
      25px 25px 0 0 var(--color-br-light),
      0 0 0 30px var(--color-br-body),
      5px 5px 0 30px rgba(0, 0, 0, 0.3);

   & img {
      width: 100%;
      display: block;
   }
}

.profile-avatar-frame::before {
   content: "";
   position: absolute;
   inset: 0;
   box-shadow:
      inset 0px 0px 0px 10px rgba(255, 255, 255, 0.1),
      inset -10px 10px 0px 0px rgba(0, 0, 0, 0.6);
   pointer-events: none;
}

/* ===== INFO ===== */

.profile-info {
   text-align: left;
   grid-column: 2 / 3;
   grid-row: 1 / 2;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.profile-bio,
.profile-name {
   position: relative;
   text-align: left;
   padding: 28px 18px 14px;
   background: var(--panel-bg);
   box-shadow: var(--shadow-2);
}

.profile-name {
   background: var(--name-bg);
}

.bio-tab {
   position: absolute;
   top: -14px;
   left: 14px;
   margin: 0;
   padding: 2px 10px;
   font-size: 1.1rem;
   line-height: 1.2;
   background: var(--tab-bg);
   color: var(--tab-text);
   box-shadow: var(--shadow);
   text-transform: uppercase;
}

/* ===== SKILLS ===== */

.profile-skills {
   grid-column: 3 / 4;
   grid-row: 1 / 2;
}

.profile-skills ul {
   text-align: left;
   margin: 0;
   font-size: 0.75em;
   list-style-type: square;
}

/* ===== START ===== */

.profile-start {
   grid-column: 1 / 4;
   grid-row: 2 / 3;
   align-items: center;
   display: flex;
   flex-direction: column;
   margin-top: 40px;
}

.profile-start-point-line {
   flex: 1;
   background-color: brown;
   width: 10px;
}

.profile-start-point {
   height: 20px;
   width: 20px;
   box-shadow:
      0px 5px black,
      0px -5px black,
      5px 0px black,
      -5px 0px black;
   background-color: brown;
}

/* ===== PIXEL CHART ===== */

.pixel-chart {
   display: grid;
   width: 100%;
   height: 100px;
   grid-template-columns: repeat(5, 1fr);
   column-gap: 5px;
   align-items: end;
   margin: 0 0 60px 0;
   border-top: 2px dotted var(--color-6);
}

.pixel-chart-column-wrapper {
   position: relative;
   width: 100%;
   display: flex;
}

.pixel-chart-column-inner {
   background-color: var(--color-accent-1);
   width: calc(100% - 10px);
   box-shadow: 10px 0 0 var(--color-6);
   height: 0;
}

.chart-text {
   position: absolute;
   bottom: -30px;
   left: 50%;
   transform: translateX(-50%);
   white-space: nowrap;
}

/* ===== ANIMATIONS ===== */

@keyframes growBar {
   from {
      height: 0;
   }
   to {
      height: var(--target-height);
   }
}

.pixel-chart-column-inner.animate {
   animation: growBar 1s ease-out forwards;
}
