#root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 2rem;
   text-align: center;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

header {
   position: sticky;
   top: 0;
   z-index: 100;
}

.main {
   height: 1000px;
}

footer {
   flex-shrink: 0;
}
