body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

header {
   position: sticky;
   top: 0;
   z-index: 100;
   min-width: 100%;
   box-sizing: border-box;
}

.main {
   height: 1000px;
}

footer {
   flex-shrink: 0;
   min-width: 100%;
}
