body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

header {
   position: sticky;
   top: 0;
   z-index: 100;
   min-width: 100%;
   box-sizing: border-box;
}

.main-container {
   height: calc(100vh - 6em);
   overflow-y: scroll;
   scroll-snap-type: y mandatory;
   scroll-behavior: smooth;
}

.section {
   height: calc(100vh - 6em);
   scroll-snap-align: start;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 10%;
}

.section-max {
   height: auto;
   min-height: calc(100vh - 6em);
   align-items: flex-start;
   scroll-snap-align: start;
   scroll-snap-stop: always;
}

.section:last-child {
   height: calc(100vh - 6em - 105px);
}

footer {
   height: 105px;
   flex-shrink: 0;
   min-width: 100%;
   scroll-snap-align: end;
}
