@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bytesized&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
   --font-body: "Inter", "Roboto", sans-serif;
   --font-mono: "VT323", "Handjet", monospace;
   --font-pixel: "Press Start 2P", "Bytesized", cursive;
   margin: 0;
   padding: 0;
   text-align: center;
}

body {
   font-family: var(--font-mono);
   line-height: 1.5;
   font-weight: 400;
   font-size: 20px;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transition: background-color 0.3s, color 0.3s;

   margin: 0;
   min-height: 100vh;
}

body.dark-theme {
   background-color: var(--color-bg);
   color: white;
}
body.light-theme {
   background-color: var(--color-bg-light);
   color: black;
}

h1 {
   font-size: 3.2em;
   line-height: 1.1;
}

.tooltip {
   position: relative;
   cursor: pointer;
}

.tooltip__text {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   bottom: -150%;
   left: 50%;
   transform: translateX(-50%);
   background: var(--color-shadow);
   color: var(--color-text);
   font-size: 16px;
   padding: 6px 8px;
   border-radius: 4px;
   white-space: nowrap;
   transition: 0.2s ease;
}

.tooltip:hover .tooltip__text {
   visibility: visible;
   opacity: 1;
}
