@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bytesized&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
   --font-body: "Inter", "Roboto", sans-serif;
   --font-mono: "VT323", "Handjet", monospace;
   --font-pixel: "Press Start 2P", "Bytesized", cursive;
   margin: 0;
   padding: 0;
   text-align: center;
}

body {
   font-family: var(--font-mono);
   line-height: 1.5;
   font-weight: 400;
   font-size: 23px;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transition: background-color 0.3s, color 0.3s;

   margin: 0;
   min-height: 100vh;
}

h1 {
   font-size: 1.3em;
   line-height: 1.1;
   margin: 5px;
}

.tooltip {
   position: relative;
   cursor: pointer;
}

.tooltip__text {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   bottom: -150%;
   left: 50%;
   transform: translateX(-50%);
   background: var(--color-shadow);
   color: var(--color-text);
   font-size: 16px;
   padding: 6px 8px;
   white-space: nowrap;
   transition: 0.2s ease;
   box-shadow: 5px 5px black;
}

.tooltip:hover .tooltip__text {
   visibility: visible;
   opacity: 1;
}

.btn {
   color: #fff;
   margin: 10px;
   border: 0;
   box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
      0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
      inset 0px 5px rgba(255, 255, 255, 0.3);
   cursor: pointer;
   display: inline-block;
}

.btn:hover:active {
   transform: translateY(5px);
   box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
      inset 0px 5px #00000038;
}

.btn:hover {
   opacity: 0.7;
}

/* ===== DARK-THEME ===== */

body.dark-theme {
   background-color: var(--color-bg);
   color: white;
}

.dark-theme {
   a {
      color: var(--color-text);
   }

   a:hover {
      color: var(--color-accent-1);
   }

   .btn {
      background-color: #38667f;
      color: var(--color-bg);
      box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
         0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
         inset 0px 5px rgba(255, 255, 255, 0.1);
   }
}

/* ===== LIGHT-THEME ===== */

body.light-theme {
   background-color: var(--color-bg-light);
   color: black;
}

.light-theme {
   a {
      color: var(--color-text-light);
   }

   a:hover {
      color: var(--color-accent-3);
   }
   .btn {
      background-color: #e6ba61;
      color: var(--color-bg);
   }
}
