@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bytesized&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet&display=swap");

:root {
   --font-body: "Inter", "Roboto", sans-serif;
   --font-mono: "VT323", "Handjet", monospace;
   --font-pixel: "Press Start 2P", "Bytesized", cursive;
}

body {
   font-family: var(--font-mono);
   line-height: 1.5;
   font-weight: 400;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transition: background-color 0.3s, color 0.3s;

   margin: 0;
   min-height: 100vh;
}

body.dark-theme {
   background-color: var(--color-bg);
   color: white;
}
body.light-theme {
   background-color: var(--color-bg-light);
   color: black;
}

h1 {
   font-size: 3.2em;
   line-height: 1.1;
}
