.timeline-section {
   position: relative;
   max-width: 1200px;
   margin: 0 auto;
}

.timeline-container {
   padding: 20px 0px;
   position: relative;
   width: 50%;
   scroll-snap-align: start;
}

.timeline-content {
   margin: 0 50px;
   padding: 20px 30px;
   position: relative;
   background: rgba(244, 244, 244, 0.3);
}

.timeline-container:nth-child(even) {
   left: 50%;
}

.timeline-container:nth-child(odd) {
   left: 0;
}

.timeline-dot {
   position: absolute;
   width: 20px;
   height: 15px;
   right: -70px;
   top: 32px;
   z-index: 10;
}

.timeline-container:nth-child(even) .timeline-dot {
   left: -70px;
}

.timeline-section::after {
   content: "";
   position: absolute;
   background-color: brown;
   width: 10px;
   height: 100%;
   top: 0;
   left: 50%;
   margin-left: -5px;
   z-index: -1;
   transition: transform 0.4s ease;

   transform-origin: top;
   transform: scaleY(var(--progress, 0));
}

.timeline-content {
   opacity: 0;
   transition: opacity 1s 0.3s ease;
}

.timeline-container.is-visible .timeline-content {
   opacity: 1;
}

@media screen and (max-wight: 1000px) {
   .timeline-section::after {
      left: 31px;
   }
   .timeline-container {
      width: 100%;
      padding-left: 80px;
      padding-right: 25px;
   }
}
