.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   transition: background-color 0.3s, color 0.3s;
   border-bottom: 5px solid var(--color-accent-2);
}

.header__logo {
   font-size: 2rem;
   font-weight: bold;
}

.header__nav {
   display: grid;
   align-items: center;
   justify-content: center;
   align-content: space-evenly;
   grid-template-columns: 2.3fr 2.3fr 2.3fr 2.3fr 1fr 1fr 1fr;
}

.header__nav a {
   text-decoration: none;
   transition: color 0.2s;
   min-height: 50px;
   align-content: center;
}

.header__nav .header__btn {
   min-height: 36px;
   font-size: 18px;
}

.header__resume {
   line-height: 1;
}

/* ===== DARK-THEME ===== */

.dark-theme {
   .header {
      background-color: var(--color-bg);
      color: var(--color-text);
   }
   .header .header__btn {
      background-color: var(--color-shadow);
      color: #54585f;
   }
}

/* ===== LIGHT-THEME ===== */
.light-theme {
   .header {
      background-color: var(--color-bg-light);
      color: var(--color-text-light);
   }
   .header__resume {
      color: var(--color-text-light);
   }
   .header .header__btn {
      background-color: var(--color-accent-light-2);
      color: var(--color-text-light);
   }
}
