.footer {
   padding: 1rem;
   background-color: var(--color-bg-light);
   color: var(--color-text-light);
   text-align: center;
   border-top: 5px solid var(--color-accent-2);
   transition: background-color 0.3s, color 0.3s;
   box-sizing: border-box;
}

.footer__socials {
   position: relative;
}

.footer a {
   margin: 0 0.5rem;
   text-decoration: none;
   color: inherit;
}

.copy {
   display: inline-block;
   font-size: 13px;
   margin-left: -10px;
   transform: translateY(-4px);
}

.copied-text {
   position: absolute;
   bottom: 36px;
   transform: translateX(-30%);
   background: var(--color-shadow);
   color: var(--color-text);
   font-size: 16px;
   padding: 6px 8px;
   white-space: nowrap;
   transition: 0.2s ease;
   box-shadow: 5px 5px black;
   opacity: 0.7;
}

/* ===== DARK-THEME ===== */

.dark-theme {
   .footer {
      color: var(--color-text);
   }
   .terraria-striped {
      background: repeating-linear-gradient(
         to bottom,
         rgba(0, 0, 0, 0.5) 0px,
         rgba(0, 0, 0, 0.5) 4px,
         rgba(0, 0, 0, 0.4) 4px,
         rgba(0, 0, 0, 0.4) 8px
      );
      padding: 16px;
   }
}

/* ===== LIGHT-THEME ===== */

.light-theme {
   .terraria-striped {
      background: repeating-linear-gradient(
         to bottom,
         rgba(239, 206, 146, 0.5) 0px,
         rgba(239, 206, 146, 0.5) 4px,
         rgba(239, 206, 146, 0.4) 4px,
         rgba(239, 206, 146, 0.4) 8px
      );
      padding: 16px;
   }
}
